
  .gl-table.gl-table-as-list {
    border: 0 !important;
    padding: 1.4em !important;
  }

  .table-operator {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .theme-default-content:not(.custom) {
    max-width: 95% !important;
  }
  .page-edit {
    max-width: 95% !important;
  }
  .page-nav {
    max-width: 95% !important;
  }
